@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@layer utilities {
  /* Used on Login/Home Page for Unauthenticated users */
  .app-routes-layout {
    @apply flex flex-col w-screen h-screen overflow-hidden;
  }
  
  .side-by-side {
    @apply flex flex-col items-center justify-center min-h-screen gap-16 p-24 md:flex-row;
  }
}